body {
	margin: 0;
	padding: 0;
	background: #000;
	font-family: 'Metal Mania', cursive, 'Roboto', Arial, sans-serif;
	font-size: 20px;
	color: #FFF;
}

#wrapper {
	margin: 0 auto;
	width: 960px;
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
}

#nav {
	height: 60px;
	margin: 0;
	background-color: #547634;
	padding: 0px 180px;
}

#nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav ul li {
	float: left;
}

#nav ul li a {
	height: 30px;
	line-height: 30px;
	padding: 15px;
	display: block;
	font-size: 24px;
}

#nav ul li a:link,
#nav ul li a:visited {
	color: #FFF;
	text-decoration: none;
}

#nav ul li a:hover {
	background-color: #333;
}

#nav ul li a:active {
	background-color: #000;
	color: #FFF;
}

#main {
	overflow: hidden;
}

img[img*="prisoner_near_wall.jpg"] {
	width: 960px;
	height: 720px;
}

#footer {
	text-align: center;
	border-bottom: 1px solid #FFF;
	border-top: 1px solid #FFF;
}

#membernames {
	margin-left: 30px;
	font-size: 26px;
}

#membernames div{
	float: left;
	margin-right: 30px;
	padding-left: 10px;
}

#membernames div:nth-of-type(2) {
	padding-left: 35px;
}

#membernames div:nth-of-type(4) {
	padding-left: 10px;
	margin-right: 20px;
}

#membernames div:nth-of-type(5) {
	margin-right: 0px;
	padding-left: 10px;
}

#membernames div:last-of-type {
	clear: both;
}

.padding {
	padding: 0px 20px;
}

.biographytext {
	float: left;
}
.biographytext h1{
	width: 500px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding: 0px;
	display: inline-block;
}

img[src*="prisoner_near_entrance_opt"] {
	float: right;
	clear: both;
	margin: 40px 0px 0px 20px;
}

.discographytext section:first-of-type {
	text-align: center;
	border-bottom: 1px solid #FFF;
}

.discographytext article {
	overflow: hidden;
}

.discographytext article img {
	margin: 20px 30px 20px 0px;
	float: left;
}

.discographytext ol {
	margin-right: 20px;
	float:left;
}

.discographytext ol li {
	width: 300px;
}

.discographytext hr{
	margin: 0px;
}

.contact {
	text-align: center;
	background: url("../images/prisoner_on_the_stairs.jpg") center center/cover fixed;
	height: 720px;
	width: 920px;
}

.contact a:link,
.contact a:visited {
	color: #99F245;
	text-decoration: none;
}

.contact a:hover {
	color: #999;
}

.contact h1 {
	font-size: 24px;
}
.contact h2 {
	font-size: 20px;
}

.contact p {
	font-size: 16px;
}

#textcontact {
	margin: 25% 32%;
	background: rgba(0,0,0,0.4);
	width: 300px;
	padding: 20px;
}

.merchandize {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

videoWrapper {
	width: 100%;
	height: 100%;
}

#formWrapper {	
	margin: 0px auto;
	background: rgba(0,0,0,0.6);
	border-radius: 1px;
	padding-bottom: 10px;
	text-align: center;
	width: 300px;
	position: absolute;
}

#registerWrapper {
	border-top: 1px solid #FFF;
	margin: 5px;
	padding-top: 10px;
	overflow: hidden;
}

#registerWrapper label {
	float: left;
}

#registerWrapper button {
	float: right;
}

input {
	margin-bottom: 5px;
}

button {
	color: #FFF;
	background-color: #333;
	border: 1px solid #FFF;
	border-radius: 5px;
	font-family: 'Metal Mania', cursive;
	font-size: 20px;
}

.btnStyle:link,
.btnStyle:visited {
	color: #FFF;
	text-decoration: none;
}

.btnStyle:hover {
	color: #999;
}

#backtoLgnWrapper {
	padding: 5px;
	position: relative;
}

#validationMsg,
div[id$="Error"]{
	color: #ff3333;
	font-size: 20px;
}

#formWrapperRegister {	
	margin: 100px auto;
	border: 1px solid #FFF;
	border-radius: 1px;
	padding-bottom: 10px;
	text-align: center;
	width: 300px;
}

.centeredFormWrapper {
	margin: 100px auto;
	border-radius: 1px;
	padding-bottom: 10px;
	text-align: center;
	width: 300px;
}

.view {
	overflow: hidden;
	padding: 15px;
}

.buyAlbum {
	margin: auto 10px;
	padding: 10px;
	border: 1px solid #FFF;
	float: left;
	text-align: center;
	width: 260px;
}

.albumButton:hover {
	animation:albumButton infinite 3s alternate;
	color: #FFF;
}

@keyframes albumButton{
	0% {
		transform:scale(1);
	}
	50 {
		transform:scale(1.03);
	}
	100% {
		transform:scale(1.05);
	}
}

.buyAlbum img {
	width: 150px;
	height: 150px;
}

.clr {	
	clear: both;
}

#bckToOpt,.bckToTop {
	text-align: center;
	margin: 10px;
}

#tableAlbums {
	border-collapse: collapse;
	text-align: center;
	margin: 150px auto; 
}
 
#tableAlbums th,
#tableAlbums td,
#tableAlbums tr {
	border: 1px solid #FFF;
	padding: 5px;
}

#tableAlbums tr:nth-child(odd) {
	background-color: #547634;
}

.iframeSize {
	width: 600px;
	height: 480px;
	display: block;
	margin: 0px auto;
}

.iframeContainer {
	display: block;
	margin: 0px auto;
	text-align: center;
}


.youtube {
	width: 640px; height: 360px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: all 200ms ease-out;
    cursor: pointer;
}

.youtube .play {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAERklEQVR4nOWbTWhcVRTHb1IJVoxGtNCNdal2JYJReC6GWuO83PM/59yUS3FRFARdFlwYP1CfiojQWt36sRCUurRIdVFXIn41lAoVdRGrG1M01YpKrWjiYmaSl8ybZJL3cd+YA//NLObd3++eO8x79z5jSq5Gw+8kov0AP8vMR5l1BtBZQM4B8ks75wCdZdYZZj5qLZ4hov2Nht9Z9vhKKSIaB/gI4M4w62KeAO6Mte4lYOq20FxrlqqOibhHmeWbvNC9ZfDX1mLae391aN6limO/gwgvAPJbWeAZuSDingdwXTBw7/0IsyaA/Fkh+KqOkD+YNfHej1QKD+y7iVlOhgLvFqFfNJvNGyuBJ+KDAF8MDd0tgS8y64OlgSdJMsysL4cG7SOHkyQZLhTee7+d2R2rAVy/S+Jd7/32ouBHAP4gNNRGQyTHc/84NhqNywZp5rvjjnnvt21aABFeCQ+RLwAf2hQ8s7sv9OCLk6AHNgQvIrvbfzKCD76g/O6cu7lf/iER/aQGgy448pExZmhdegAPhR9sObFWH1gT3lp7DaA/5bkIgJhZPgsNmz02novj+KqeApj1ubwXWe4kdyeznAgNvTpE/HQmvKqOMeuFogTUVQSRno+iaLRLAJF7uIgL9O4ubgL8aWgB7S44mNX+35YpICUiAvS9sBLkq1WzT+NFffl6AuoiApi6NT37h6sWkBIRZGkQ8YtLgyji6e1mBYTqCEBPG2Naz+0BWQgtoGoRgCzEsd9hAN1X5BfnFZASUfrSAFQNsyZ1FJASUVpHiLinDJG8U2cBZYogkrcNs5waBAGdstbeU9zdqpw0gPwwSAI6VUxHyFlDpOcHUUBBIuYNs14aZAE5RVwyzPr3/0EAEY0TyfGNjBWQvwZ +CTSbehfAH29mrID8bET0+0EUkAd8WYDOmqJ3ecsG30yr9wqRfm6Y+a1BEFDEjHfHvWmY9ck6CygHvBVr8Xhtb4ZE5HZA3y8DvBNA1TjnrmXWf+sioMwZX5V/VHXMGGMMoKdDCxCRvRWBdzKzdHEO+EisilbPyopHYqp6S9UCAsz4iojI7hUDAtyXVQgIDd6KnOoaWNkbI6FaPSuZGyMArsi7MZoloB4zviI/Nhr3X95jltwTRQmoIfgisy5ai+me67OI7fE4nrqjrqfK1t0eby0FPRB6oGVlchL3rgnfrq19RKbVBdhV9IOSwJmfmJi4vi/4ThERitwyCxVAFqydshuCX5awhQ9KtmuIWd8IDZED/nXT77rvVVv6sHRKwjYi91poqP7Dr+Y6JJ1VSZIMA3wkPNy6bX+o8Bcm0sXMdwM8Fxo0A3xORPaWBp6uPXsmbxCRD0NDL0dOANhVCXy6iAjMcjbcrMt3RITKwdMVRdFo+y5yvkL4eWZ+zHt/ZVD4dEVRNGotpst+dZZZH8k86lqn2pIvT/eqrNfn2xuyqYPZ8mv7s8pfn/8Pybm4TIjanscAAAAASUVORK5CYII=") no-repeat center center;
    background-size: 64px 64px;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .8;
    filter: alpha(opacity=80);
    transition: all 0.2s ease-out;
}

.youtube .play:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.wrongPage {
	text-align: center;
}

.logoWrongpage {
	text-align: center;
	padding: 200px 0;
	margin: 0px auto;
}

.wrongpageLink a:link,
.wrongpageLink a:visited {
	color: #547634;
	text-decoration: none;
}

.wrongpageLink a:hover {
	color: #999;
}
