<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
		<title>Contact</title>
	<link href="https://fonts.googleapis.com/css?family=Metal+Mania" rel="stylesheet">
	<link href="css/style.css" type="text/css" rel="stylesheet">
	</head>
	<body>
		<div id="wrapper">
			<header>	
			</header>
			
			<main id="main" class="wrongPage padding">
				<div >
				<section>
					<h1>Wrong Page</h1>
				</section>
				<section>
					<article>
						<h1>You became our Prisoner!!!</h1>
						<p>Click On Prisoner Logo To Get Out Of Jail</p>
						<p class="wrongpageLink">You can also click <a href="index.html"> here </a>to get out of prison</p>
						<p><a href="https://www.facebook.com/PrisonerSerbia"></a></p>
						<div class="logoWrongpage">
							<a href="index.html">
								<img src="images/prisoner_logo.jpg" alt="prisoner_logo.jpg">
							</a>
						</div>
					</article>
				</section>
				</div>
			</main>
			
			<footer id="footer">
				<p>Offical Prisoner WebSite &copy; 2018</p>
			</footer>
		</div>
	</body>
</html>